.counter {
  display: flex;
  align-items: center;
  color: var(--color-beige-1);
  font-family: 'Jost', sans-serif;
}

.number {
  font-size: 5rem;
  font-weight: 700;
  margin-right: 1rem;
  width: 7rem;
  text-align: end;
}

.unit {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
