.container {
  padding: 0 2rem;
  text-align: center;
}

.text {
  margin: 1rem 0;
}

.text a {
  color: var(--color-beige-1);
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
  }
}
