.title {
  display: flex;
  align-items: center;
  color: var(--color-grey-1);
  justify-content: center;
  padding: 2rem 0;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
}
