* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.25;
}

:root {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-button: #cecece;
  --color-button-border: #cecece;
  --color-button-text: #202020;

  --color-black: #202020;
  --color-green-1: #70885d;
  --color-green-2: #3c5947;
  --color-beige-1: #d7bd98;
  --color-grey-1: #d9d9d9;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

input {
  border: 1px solid var(--color-beige-1);
}

/* 
button.submit {
  --color-button: green;
  --color-button-border: green;
  --color-button-text: #ffffff;
  margin-top: 1rem;
}

p.questionText {
  margin-bottom: 1rem;
}

div.question {
  margin: 1rem 0;
}

span.option {
  text-align: center;
  padding: 0 1rem;
  width: 100%;
} */
